
.containerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.containerInputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}
.group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.labelText{
    font-size: var(--size-text-label);
    margin-bottom: 0.5rem;
}

.customInput{
    width: 240px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    font-family: 'Poppins';
    font-size: var(--size-text-label2);
    padding: .5rem;
}

.checkbox{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid var(--green-color);
}

.containerDown{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.subText{
    font-family: "Poppins";
    font-size: var(--size-text-label2);
}

.circleInt{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: var(--green-color);
}

.btnSubmit{
   border: none;
    background-color: transparent;;
    color: var(--green-color);
    font-family: 'Poppins';
    font-size: var(--size-text1);
    cursor: pointer;
}

.displayNone{
    display: none;
}