.sectionHeader {
  padding-top: 2rem;
  width: 100%;
}

.containerLogo {
  max-width: 314px;
  max-height: 70px;
}

.imageLogo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.sectionHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: "Lilita";
  font-size: var(--size-title1);
  text-align: center;
  margin: 4rem 0 4rem 0;
}

.containerHero {
  display: flex;
  justify-content: center;
}

.spaceOne {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}

.imageDog {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.spaceTwo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 10rem 0 10rem;
  gap: 5rem;
}

.titleSpaceTwo {
  font-size: var(--size-text1);
  font-weight: 400;
  text-align: center;
  line-height: 60px;
}

.subTitleSpaceTwo,
.callToActionSpaceTwo {
  font-size: var(--size-text1);
  font-weight: 400;
}
.callToActionSpaceTwo {
  color: var(--green-color);
  cursor: pointer;
  margin-top: 2rem;
  transition: text-shadow 0.2s linear;
  transition: color 0.4s linear;
}

.whatIs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 4rem 0;
}

.textTitle {
  font-size: var(--size-text1);
}

.imageText {
  width: 126px;
  height: 28px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.marginZero {
  margin: 0;
}

.marginLeftZero {
  margin-left: 0;
}

.imageMap {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.spaceOneMap {
  flex: 1;
  display: flex;
  align-items: center;
  padding-right: 13rem;
}

.spaceTwoMap {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}

.titleWhatsIS {
  font-size: var(--size-text1);
  font-weight: 400;
  line-height: 60px;
}

.containerWhatsIS {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.containerSetionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titleForm {
  font-size: var(--size-text1);
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 4rem;
}

.subTitleForm {
  font-size: var(--size-text1);
  text-align: center;
  margin-top: 4rem;
  padding: 0 40rem 0 40rem;
  line-height: 60px;
}

.containerImageForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem 0 8rem 0;
}

.footer {
  margin: 3rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.textFooter {
  font-size: var(--size-text-label2);
  font-weight: 400;
}

@media (max-width: 2291px) {
  .containerHero {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1712px) {
  .subTitleForm {
    padding: 0 30rem 0 30rem;
  }
}

@media (max-width: 1392px) {
  .subTitleForm {
    padding: 0 10rem 0 10rem;
  }
}

@media (max-width: 1448px) {
  .spaceTwo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 6rem 0 6rem;
    gap: 3rem;
  }
}

@media (max-width: 1358px) {
  .spaceOneMap {
    padding-right: 0rem;
  }
}

@media (max-width: 1206px) {
  .spaceTwo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem 0 3rem;
    gap: 2rem;
  }
  .titleSpaceTwo {
    font-size: var(--size-text2);
  }
  .subTitleSpaceTwo,
  .callToActionSpaceTwo {
    font-size: var(--size-text2);
  }
}

@media (max-width: 1112px) {
  .spaceTwo {
    padding: 0 3rem 0 3rem;
    gap: 1rem;
  }
  .titleSpaceTwo {
    font-size: var(--size-text2-5);
    line-height: 50px;
  }
  .subTitleSpaceTwo,
  .callToActionSpaceTwo {
    font-size: var(--size-text2-5);
  }

  .titleWhatsIS,
  .titleForm,
  .subTitleForm {
    font-size: var(--size-text2-5);
  }
}

@media (max-width: 897px) {
  .spaceTwo {
    padding: 0 2rem 0 2rem;
  }
  .titleSpaceTwo {
    font-size: var(--size-text3);
    line-height: 35px;
  }
  .subTitleSpaceTwo,
  .callToActionSpaceTwo {
    font-size: var(--size-text3);
  }
  .titleWhatsIS,
  .titleForm,
  .subTitleForm {
    font-size: var(--size-text3);

    line-height: 50px;
  }
}

@media (max-width: 725px) {
  .containerLogo {
    max-width: 250px;
    max-height: 56px;
  }

  .title {
    font-size: var(--size-title2);
  }
  .spaceTwo {
    padding: 0 1rem 0 1rem;
  }
  .titleWhatsIS {
    line-height: 40px;
  }
}

@media (max-width: 625px) {
  .subTitleForm {
    padding: 0;
  }
}

@media (max-width: 577px) {
  .containerHero {
    flex-direction: column;
  }

  .spaceTwo {
    padding: 0;
  }

  .containerWhatsIS {
    flex-direction: column;
  }
}

@media (max-width: 471px) {
  .containerLogo {
    max-width: 200px;
    max-height: 45px;
  }

  .title {
    font-size: var(--size-text2);
  }
}

@media (max-width: 380px) {
  .containerLogo {
    max-width: 150px;
    max-height: 33px;
  }

  .title {
    font-size: var(--size-text3);
    font-family: "Poppins";
  }
}
